
$primary : #cacaca!default;

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.wrapper{
  padding-top: 5rem;
}
/* COLORS */

$red : #ab1100;
$blue : #127caf;
$green : #9fb602;
$turquaz :#16c1d1;
/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

$base-font : 'Montserrat', sans-serif;

// $vals: 768px, 992px, 1200px;
// $breaks: sm, md, xl;

// $base-space: 1rem;

// @for $i from 0 through 4 {
//   .p-#{$i} {
//     padding: ($i * $base-space);
//   }
//   .pt-#{$i} {
//     padding-top: ($i * $base-space);
//   }
//   .pb-#{$i} {
//     padding-bottom: ($i * $base-space);
//   }
//   .pr-#{$i} {
//     padding-right: ($i * $base-space);
//   }
//   .pl-#{$i} {
//     padding-left: ($i * $base-space);
//   }
//   .px-#{$i} {
//     padding-left: ($i * $base-space);
//     padding-right: ($i * $base-space);
//   }
//   .py-#{$i} {
//     padding-top: ($i * $base-space);
//     padding-bottom: ($i * $base-space);
//   }
// }

// @for $i from 0 through 4 {
//   .m-#{$i} {
//     margin: ($i * $base-space);
//   }
//   .mt-#{$i} {
//     margin-top: ($i * $base-space);
//   }
//   .mb-#{$i} {
//     margin-bottom: ($i * $base-space);
//   }
//   .mr-#{$i} {
//     margin-right: ($i * $base-space);
//   }
//   .ml-#{$i} {
//     margin-left: ($i * $base-space);
//   }
//   .mx-#{$i} {
//     margin-left: ($i * $base-space);
//     margin-right: ($i * $base-space);
//   }
//   .my-#{$i} {
//     margin-top: ($i * $base-space);
//     margin-bottom: ($i * $base-space);
//   }
// }
body {
  font-family: $base-font;
}

.top-bar {
  height: 30px;
  background-color: $turquaz; 
  line-height: 30px;
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
  .top-bar-left {
    p {
      font-weight: 600;
      a {
        font-weight: normal;

        transition: 0.8s ease ;
        &:hover {
          color: lighten($red, 40%);
          transition: 0.8s ease-in ;
        }
      }
    }
  }
  .top-bar-right {
    padding-left: 10px;
    a {
      font-size: 13px;
      padding-right: 5px;
      i {
        font-size: 16px;
        padding-right: 5px;
      }
    }
  }
}